{% extends "layout.html" %}

{% block main %}
    <div id="app" class="row justify-content-center align-items-center h-100">
        <div class="col-md-6">
            <h1 id="landingpage-header">Welcome to PlanMate</h1>
            <p>Make your event planning process easier and more organized with PlanMate. Create tasks, set deadlines,
                and collaborate with your team all in one place.</p>
            <a class="btn btn-primary" href="/login" role="button">Get Started</a>
        </div>
    </div>
{% endblock %}

{% block styles %}
    <!-- Custom CSS -->
    <style>
        body {
            background-image: url("/static/icons/Background.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            background-attachment: fixed;
        }

        #landingpage-header {
            font-size: 4rem;
            margin-bottom: 2rem;
        }

        p {
            font-size: 1.5rem;
            margin-bottom: 2rem;
        }

        .btn-primary {
            font-size: 1.5rem;
            padding: 1rem 2rem;
            border-radius: 0;
            background-color: #F06292;
            border-color: #F06292;
        }

        .btn-primary:hover {
            background-color: #D81B60;
            border-color: #D81B60;
        }

        /* Animation */
        #landingpage-header {
            animation-name: slideIn;
            animation-duration: 1s;
            animation-delay: 0.5s;
            animation-fill-mode: forwards;
        }

        p {
            animation-name: fadeIn;
            animation-duration: 1s;
            animation-delay: 1s;
            animation-fill-mode: forwards;
        }

        .btn-primary {
            animation-name: fadeIn;
            animation-duration: 1s;
            animation-delay: 1.5s;
            animation-fill-mode: forwards;
        }

        @keyframes slideIn {
            from {
                transform: translateX(-100%);
            }

            to {
                transform: translateX(0);
            }
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }
    </style>
{% endblock %}